#Grab Subscription ID from az CLI
export SUBSCRIPTION_ID=$(az account show | jq '.id' -r)
export NAME=jumpbox
export LOCATION=centralus
export PUB_KEY_PATH=~/.ssh/id_rsa.pub
export VM_SIZE=Standard_B2s
export CIDR=10.0.0.0/24
